<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Evoqueconfig>
            <version>0.1.2</version>
        </Etheme_Evoqueconfig>
    </modules>
    <frontend>
        <routers>
            <catalog>
                <use>standard</use>
                <args>
                    <modules>
                        <Etheme_Evoqueconfig before="Mage_Catalog">Etheme_Evoqueconfig</Etheme_Evoqueconfig>
                    </modules>
                </args>
            </catalog>
        </routers>

    </frontend>
    <admin>
        <routers>
            <evoqueconfig>
                <use>admin</use>
                <args>
                    <module>Etheme_Evoqueconfig</module>
                    <frontName>evoqueconfig</frontName>
                </args>
            </evoqueconfig>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <evoque>
                <title>eVoque v 1.3</title>
                <sort_order>10000</sort_order>
                <children>
                    <maintenance>
                        <title>Theme Maintenance</title>
                        <sort_order>0</sort_order>
                        <children>
                            <load_preset_configuration>
                                <title>Load preset configuration</title>
                                <sort_order>2</sort_order>
                                <action>evoqueconfig/adminhtml_loadpresetconfig</action>
                            </load_preset_configuration>
                            <save_cur_blocks>
                                <title>Save preset configuration</title>
                                <sort_order>3</sort_order>
                                <action>evoqueconfig/adminhtml_saveconfig</action>
                            </save_cur_blocks>
                            <reset_cms_blocks>
                                <title>Install/Reset blocks/pages</title>
                                <sort_order>4</sort_order>
                                <action>evoqueconfig/adminhtml_resetcmsblocks</action>
                            </reset_cms_blocks>
                        </children>
                    </maintenance>
                    <config>
                        <title>Theme Settings</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/system_config/edit/section/evoqueconfig</action>
                    </config>
                    <colors>
                        <title>Theme Colors</title>
                        <sort_order>2</sort_order>
                        <action>adminhtml/system_config/edit/section/evoquecolors</action>
                    </colors>
                    <layout>
                        <title>Theme Layout</title>
                        <sort_order>3</sort_order>
                        <action>adminhtml/system_config/edit/section/evoquelayout</action>
                    </layout>

                </children>
            </evoque>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <evoqueconfig>
                                            <title>Evoque Theme Settings</title>
                                        </evoqueconfig>
                                        <evoquecolors>
                                            <title>Evoque Theme Colors</title>
                                        </evoquecolors>
                                        <evoquelayout>
                                            <title>Evoque Theme Layout</title>
                                        </evoquelayout>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <evoque>
                            <title>Evoque</title>
                            <sort_order>10001</sort_order>
                            <children>
                                <maintenance>
                                    <title>Theme Maintenance</title>
                                    <children>
                                        <load_preset_configuration>
                                            <title>Load skin</title>
                                        </load_preset_configuration>
                                        <reset_cms_blocks>
                                            <title>Reset CMS blocks/pages to default</title>
                                        </reset_cms_blocks>
                                    </children>
                                </maintenance>
                                <config>
                                    <title>Theme Configuration</title>
                                </config>
                            </children>
                        </evoque>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <evoqueconfig>
                <class>Etheme_Evoqueconfig_Model</class>
            </evoqueconfig>
        </models>
        <blocks>
            <evoqueconfig>
                <class>Etheme_Evoqueconfig_Block</class>
            </evoqueconfig>
            <core>
                <rewrite>
                    <text_list>Etheme_Evoqueconfig_Block_Core_Text_List</text_list>
                </rewrite>
            </core>
        </blocks>


        <helpers>
            <evoqueconfig>
                <class>Etheme_Evoqueconfig_Helper</class>
            </evoqueconfig>
        </helpers>
        <resources>
            <evoqueconfig_setup>
                <setup>
                    <module>Etheme_Evoqueconfig</module>
                </setup>
            </evoqueconfig_setup>
        </resources>
    </global>

    <default>
        <evoqueconfig>
            <options>
                <image_rollover_mode>1</image_rollover_mode>
                <image_rollover_sort>2</image_rollover_sort>
                <quick_view>1</quick_view>
                <responsive>0</responsive>
                <catalog_mode>0</catalog_mode>
                <ajax_add_to_cart>1</ajax_add_to_cart>
                <ajax_wish_comp>1</ajax_wish_comp>
                <ajax_toolbar>1</ajax_toolbar>
                <price_slider>1</price_slider>
                <show_add_to_cart>1</show_add_to_cart>
                <show_add_to_wishlist>1</show_add_to_wishlist>
                <show_add_to_compare>1</show_add_to_compare>
                <show_compare_link_in_header>1</show_compare_link_in_header>
                <show_back_to_top>1</show_back_to_top>
                <shop_by_accordion>1</shop_by_accordion>
                <keep_image_aspect_ratio>0</keep_image_aspect_ratio>
            </options>
            <megamenu>
                <megamenu>0</megamenu>
                <html_block_above_menu>
                    <![CDATA[
                            <i class="typcn typcn-gift"></i> Gifts                      Exclusive &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="typcn typcn-briefcase"></i> offers
                            ]]>

                </html_block_above_menu>
                <html_block_under_menu>
                    <![CDATA[
<i class="typcn typcn-thumbs-up"></i> special offer                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="typcn typcn-bookmark"></i> Up to 50% off discounts
                            ]]>
                </html_block_under_menu>
                <bs_count_columns>3</bs_count_columns>
            </megamenu>
            <product_labels>
                <show_sale_label>1</show_sale_label>
                <discount_label>1</discount_label>
                <show_new_label>1</show_new_label>
            </product_labels>
            <social_accounts>
                <facebook_profile_name>themeforest</facebook_profile_name>
                <twitter_account>themeforest</twitter_account>
                <twitter_feeds_count>2</twitter_feeds_count>
                <twappid></twappid>
                <twsecret></twsecret>
                <tw_access_token></tw_access_token>
                <tw_access_token_secret></tw_access_token_secret>
            </social_accounts>
        </evoqueconfig>
        <evoquecolors>
            <general>
                <custom_css>0</custom_css>
                <text_color>#000000</text_color>
                <link_color>#000000</link_color>
                <link_hover_color>#000000</link_hover_color>
                <background_color></background_color>
                <separator>#eeeeee</separator>
                <table_border>#eeeeee</table_border>
                <slider_pagination>#777777</slider_pagination>
                <sidebar_scroll>#a9a9a9</sidebar_scroll>
                <sidebar_scroll_hover>#262626</sidebar_scroll_hover>
                <carousel_scroll>#999999</carousel_scroll>
                <carousel_scroll_hover>#777777</carousel_scroll_hover>
                <carousel_track>#e2e2e2</carousel_track>
                <search_icons>#999999</search_icons>
                <social_icons>#c5c5c5</social_icons>
                <background_image_display_mode>center</background_image_display_mode>
                <theme_color></theme_color>
                <theme_hover_color></theme_hover_color>
                <input_focus></input_focus>
                <background_image></background_image>
                <ajax_bg>#A6FFBC</ajax_bg>
                <skin_suffix>default</skin_suffix>
            </general>
            <left_sidebar>
                <bg_color>#4b4b4b</bg_color>
                <link_color>#a3a3a3</link_color>
                <link_color_hover>#eeeeee</link_color_hover>
                <text_color>#9B008D</text_color>
                <text_color_hover></text_color_hover>
            </left_sidebar>
            <captions>
                <font>Georgia</font>
                <text_color>#000000</text_color>
            </captions>
            <header>
                <text_color>#5a5a5a</text_color>
                <background_color>#ffffff</background_color>
                <background_color_boxes></background_color_boxes>
                <link_color>#575757</link_color>
                <link_hover_color>#ffffff</link_hover_color>
                <link_bg_hover_color>#575757</link_bg_hover_color>
                <link_color_cart></link_color_cart>
                <link_hover_color_cart></link_hover_color_cart>
                <caret_image>default/caret.png</caret_image>
            </header>
            <buttons>
                <text_color>#ffffff</text_color>
                <text_color_hover>#ffffff</text_color_hover>
                <background_color>#4b4b4b</background_color>
                <background_color_hover>#000000</background_color_hover>
            </buttons>
            <header_navigation>
                <link_color_level_0>#000000</link_color_level_0>
                <link_color_level_0_hover>#000000</link_color_level_0_hover>
                <link_color_level_1>#575757</link_color_level_1>
                <link_color_level_1_hover>#575757</link_color_level_1_hover>
                <link_color_level_2>#959595</link_color_level_2>
                <link_color_level_2_hover>#959595</link_color_level_2_hover>
                <link_color_level_3>#9e9e9e</link_color_level_3>
                <link_color_level_3_hover>#b9b9b9</link_color_level_3_hover>
                <link_color_level_4>#575757</link_color_level_4>
                <link_color_level_4_hover>#575757</link_color_level_4_hover>
                <open_close>#c4c4c4</open_close>
                <separator>#eeeeee</separator>
            </header_navigation>
            <footer>
                <text_color>#5a5a5a</text_color>
                <link_color>#5a5a5a</link_color>
                <link_hover_color>#5a5a5a</link_hover_color>
                <background_color></background_color>
            </footer>
            <products>
                <sale_lable>#d44444</sale_lable>
                <new_lable>#a4b3b5</new_lable>
                <discount_lable>#c8c8c8</discount_lable>
                <button>#c8c8c8</button>
                <button_hover>#d44444</button_hover>
                <regular_price>#000000</regular_price>
                <special_price>#d44444</special_price>
            </products>
            <drop_down_boxes>
                <link_color></link_color>
                <link_hover_color></link_hover_color>
                <background_color></background_color>
                <border_color></border_color>
            </drop_down_boxes>
            <content>
                <text_color></text_color>
                <link_color></link_color>
                <link_hover_color></link_hover_color>
                <background_color></background_color>
                <background_image_display_mode>center</background_image_display_mode>
            </content>
            <footer_info>
                <text_color></text_color>
                <link_color></link_color>
                <link_hover_color></link_hover_color>
                <captions_color></captions_color>
                <bold_color></bold_color>
                <background_color></background_color>
                <line_color></line_color>
            </footer_info>
            <footer_popup>
                <text_color></text_color>
                <caption_text_color></caption_text_color>
                <link_color></link_color>
                <link_hover_color></link_hover_color>
                <background_color></background_color>
                <background_transparency></background_transparency>
            </footer_popup>
            <delimeters>
                <product_border_color></product_border_color>
                <product_border_shadow>0</product_border_shadow>
            </delimeters>
            <price>
                <font>Arial</font>
                <text_color></text_color>
                <product_info_price_color></product_info_price_color>
            </price>
        </evoquecolors>
        <evoquelayout>
            <options>
                <product_page>1</product_page>
                <product_listing>izotope</product_listing>
                <slideshow>1</slideshow>
                <slideshow_static_block>199</slideshow_static_block>
                <slider>flex</slider>
                <custom_html>0</custom_html>
                <zoom>top_left</zoom>
                <slideshow_html>1</slideshow_html>
            </options>
            <sidebar>
                <my_cart>0</my_cart>
                <currency>0</currency>
                <language>0</language>
                <store>0</store>
                <toplinks>0</toplinks>
                <toplinks_block>0</toplinks_block>
                <search>0</search>
                <shop_by>0</shop_by>
                <popular_tags>0</popular_tags>
                <compare>0</compare>
                <community_poll>0</community_poll>
                <navigation>0</navigation>
                <custom_html>0</custom_html>
                <custom_html_product>0</custom_html_product>
                <about>0</about>
                <blog>0</blog>
                <socials>0</socials>
                <socials_twitter>0</socials_twitter>
                <socials_fb>0</socials_fb>
                <contact>0</contact>
                <viewed>0</viewed>
                <related>0</related>
                <upsells>0</upsells>
                <crosselss>0</crosselss>
                <wishlist>0</wishlist>
                <newsletter>0</newsletter>
                <newsletter_block>8</newsletter_block>
                <find_us>0</find_us>
                <footer_links>0</footer_links>
                <footer_links_visible>0</footer_links_visible>
                <about_block>0</about_block>
                <contact_block>0</contact_block>
            </sidebar>
        </evoquelayout>
        <evoqueflex>
            <options>
                <animation>fade</animation>
                <slideshowspeed>7000</slideshowspeed>
                <animationspeed>600</animationspeed>
                <direction>horizontal</direction>
            </options>
        </evoqueflex>
    </default>
</config>