<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Evoqueparallax>
            <version>0.1.0</version>
        </Etheme_Evoqueparallax>
    </modules>
    <frontend>
        <layout>
            <updates>
                <evoqueparallax>
                    <file>evoqueparallax.xml</file>
                </evoqueparallax>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<evoqueparallax>
				<use>admin</use>
				<args>
					<module>Etheme_Evoqueparallax</module>
					<frontName>evoqueparallax</frontName>
				</args>
			</evoqueparallax>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <evoque>
                <children>
                    <parallax>
                        <title>Parallax slider (home)</title>
                        <sort_order>11</sort_order>
                        <children>
                            <upload>
                                <title>Manage slides</title>
                                <sort_order>1</sort_order>
                                <action>evoqueparallax/adminhtml_evoqueparallax</action>
                            </upload>
                        </children>
                    </parallax>
                </children>
            </evoque>
        </menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                         <system>
                            <children>
                                <config>
                                    <children>
                                        <evoqueparallax>
                                            <title>Evoque - Parallax slider</title>
                                        </evoqueparallax>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <etheme>
                            <title>eTheme - eVoque</title>
                            <children>
                                <slider>
                                    <title>Slider Configuration</title>
                                    <children>
                                        <parallax>
                                            <title>Parallax slider</title>
                                            <children>
                                                <upload1>
                                                    <title>Upload slides</title>
                                                </upload1>
                                            </children>
                                        </parallax>
                                    </children>
                                </slider>
                            </children>
                        </etheme>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <global>
        <models>
            <evoqueparallax>
                <class>Etheme_Evoqueparallax_Model</class>
                <resourceModel>evoqueparallax_mysql4</resourceModel>
            </evoqueparallax>
            <evoqueparallax_mysql4>
                <class>Etheme_Evoqueparallax_Model_Mysql4</class>
                <entities>
                    <evoqueparallax>
                        <table>evoqueparallax</table>
                    </evoqueparallax>
	                <evoqueparallax_store>
                        <table>evoqueparallax_store</table>
                    </evoqueparallax_store>
                </entities>
            </evoqueparallax_mysql4>
       </models>
       <resources>
	      <evoqueparallax_setup>
	        <setup>
	          <module>Etheme_Evoqueparallax</module>
	        </setup>
	        <connection>
	          <use>core_setup</use>
	        </connection>
	      </evoqueparallax_setup>
	      <evoqueparallax_write>
	        <connection>
	          <use>core_write</use>
	        </connection>
	      </evoqueparallax_write>
	      <evoqueparallax_read>
	        <connection>
	          <use>core_read</use>
	        </connection>
	      </evoqueparallax_read>
	    </resources>
        <blocks>
            <evoqueparallax>
                <class>etheme_evoqueparallax_Block</class>
            </evoqueparallax>
        </blocks>
        <helpers>
            <evoqueparallax>
                <class>etheme_evoqueparallax_Helper</class>
            </evoqueparallax>
        </helpers>
    </global>
</config>